# APplication
BASE_URL=https://opensource-demo.orangehrmlive.com
API_BASE_URL=https://opensource-demo.orangehrmlive.com/web/index.php/api/v2

# Admin credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Test configuration
DEFAULT_TIMEOUT=30000
HEADLESS=true
WORKERS=4

# Reporting
ALLURE_RESULS_DIR=allure-results

# Environment identifier (dev | ci | staging)
ENVIRONMENT=dev